# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
f r o n t e n d / b u i l d / 
 
 b u i l d / 
 
 f r o n t e n d / b u i l d / 
 
 f r o n t e n d / b u i l d / 
 
 b u i l d / 
 
 * . z i p 
# Ignorar build de React
frontend/build/
frontend_build/

# Ignorar archivos zip
build.zip
frontend/build.zip

# Ignorar archivos de producción
*.zip

 
 # Ignorar CSS generado por Tailwind
frontend/src/generated-tailwind.css